// importing the partials
@import "variables";
@import "mixins";
@import "functions";

// h2 style
h2 {
  color: blue;
  padding: 2px;
  margin: 4px;
  text-decoration: underline;
  font-weight: 200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: $position;
}

.left-col {
  color: $color;
  background-color: $background-color;
  font-family: $font-family;
  position: absolute;
  float: left;
  width: calculate_width(100px);
}

.right-col {
  color: $color;
  background-color: $background-color;
  font-family: $font-family;
  position: absolute;
  float: left;
  width: calculate_width(100px);
  height: 100px;
}
