// Loop to generate the anchor tags

$totalItems: 5;
$listSelector: ".my-list";
$anchorSelector: ".my-list-item";

// for loop
@for $i from 1 through $totalItems {
  #{$listSelector} {
    #{$anchorSelector}:nth-child(#{$i}) {
      // Your styles for each anchor tag
      color: blue;
      list-style: lower-alpha;
      text-decoration: none;
    }
  }
}

// while loop
// $i: 1;
// @while $i < $listItemCount {
//   #{$listSelector} {
//     #{$anchorSelector}:nth-child(#{$i}) {
//       // Your styles for each anchor tag
//       color: blue;
//       list-style: lower-alpha;
//       text-decoration: none;
//     }
//   }
//   $i: $i + 1;
// }
